@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<section class="aboutus">
    <div>
        <h1 class="aboutush1">What are WE:</h1>
        <br />
        <p class="aboutusp">
            Showing your book to somebody else for the first time is really hard. Writing, for me anyway, is like putting my soul onto paper. Showing somebody that is like revealing the most intimate part of your very being. I wrote for years before I even told anyone that I was doing it. Writers are, generally speaking, quite introverted, which doesn’t really lend itself to showing other people our novels or stories. It is important that other people see your work, though. We know our stories so well that, when we read them, we tend to fill in the blanks or miss mistakes in our writing because our brains change the words to reflect what we actually meant. At least, mine does. I gave away a massive plot twist in my book and didn’t pick it up despite going through it numerous times to edit. But it’s not just that. We tend to fall in love with our characters and stories and, like in life, that love blinds us.
        </p>
        <h2 class="aboutush1">The Importance of Sharing</h2>

        <p class="aboutusp">
            I plucked up the courage to ask a friend of mine to look through my story. I’d been working on it for years and couldn’t see the flaws it contained. After a couple of hours, he pointed out everything that was wrong with it and offered pointers on what I could do to improve it. He was right. Once he said it I could see it all a lot clearer. It does help that he’s a writer too. That’s vital but you do need to share with the right people. Certain types of people will only tell you what you want to hear, they won’t provide the constructive criticism that you need to make your book as strong as it can be. And that criticism is one of the hardest things to come to terms with. It isn’t a fun experience but you can’t take it personally. I did. Every bad thing that was said was like they were attacking me personally. They weren’t. They were trying to help and, if I hadn’t taken it so personally, it would have helped. It isn’t easy to be objective when facing criticism but it is one of the most important skills that you can ever learn in this business.
        </p>
        <p class="aboutusp">
            Finding these people to ask for feedback from can be a challenge. If you’re not lucky enough to have them around you already, you could join a writers’ group or a forum to speak to other writers or readers. There are plenty out there. I’ve also found the detached nature of speaking to people online less intimidating, if I’m honest. There are lots of different options available to you, but it’s important that you pick at least one of them. Or pick all of them. Get as many people to read your stories as you can so you get as much feedback as possible. It will make your writing stronger, and you, as a writer, stronger too.
        </p>

    </div>
</section>